
.header{
	display:flex;
	width:100%;
	height:20%;
	border: 1px solid black;
	
	
}
.main{
display:flex;
border:1px solid green;
justify-content:space-around;
 	height:80%;
 width:100%;
}
.wrap{
	display:flex;
	width:70%;
	height:80%;
	border: 1px solid red;
	justify-content:space-around;
}
.buttons{
	display:flex;
	width:20%;
	height:100%;
	border: 1px solid blue;
	flex-direction:column;
	
}
.field_game{
	display:flex;
	width:80%;
	height:100%;
	border: 1px solid black;
	flex-direction:column;
	
}
.head_game{
	display:flex;
	width:100%;
	height:15%;
	border: 1px solid yellow;
	justify-content:space-around;
	
}
.game{
	  background-image: url("img/fon1.jpeg");
	display:flex;
	width:100%;
	height:85%;
	border: 2px solid aqua;
	justify-content:space-around;
	
}
.button{
	margin: 7px;
 text-decoration:none; 
 text-align:center; 
 padding:3px 16px; 
 border:solid 3px #004F72; 
 -webkit-border-radius:50px;
 -moz-border-radius:50px; 
 border-radius: 50px; 
 font:21px "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffd500; 
 background-color:#3BA4C7; 
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
 -webkit-box-shadow:1px 0px 1px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 1px 0px 1px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:1px 0px 1px #bababa, inset 0px 0px 1px #ffffff;  
 opacity:0.94; 
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=94); 
 filter: alpha(opacity=94); 
 text-shadow: 2px 0px 0px #999100; 
 filter: dropshadow(color=#999100, offx=2, offy=0); }
https://maxzon.ru/button_gen/index.html
 .button:hover{margin: 7px;
 text-decoration:none; 
 text-align:center; 
 padding:3px 16px; 
 border:solid 3px #004F72; 
 -webkit-border-radius:50px;
 -moz-border-radius:50px; 
 border-radius: 50px; 
 font:26px "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffd500; 
 background-color:#3BA4C7; 
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
 -webkit-box-shadow:1px 0px 1px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 1px 0px 1px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:1px 0px 1px #bababa, inset 0px 0px 1px #ffffff;  
 opacity:0.94; 
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=94); 
 filter: alpha(opacity=94); 
 text-shadow: 2px 0px 0px #999100; 
 filter: dropshadow(color=#999100, offx=2, offy=0);}
